<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <meta
    name="description"
    content="An open-souce api featuring bunch of anime related stuffs!"
  />
  <meta name="og:title" content="Animu" />
  <meta name="theme-color" content="#1DA1F2" />
  <meta property="og:url" content="https://docs.animu.ml" />
  <meta
    name="og:image"
    content="https://avatars.githubusercontent.com/u/79479798?s=200&v=4"
  />
  <meta
    name="og:description"
    content="An open-souce api featuring bunch of anime related stuffs!"
  />
</head>
<body>
  <div id="root"></div>
</body>
</html>
